.half-green-donut {
  /* Set size and make it a circle */
  width: 200px;
  height: 200px;
  border-radius: 50%;
  
  /* Create the half-green, half-gray background */
  background: conic-gradient(green 0% 50%, lightgray 50% 100%);
  
  /* Create the transparent center "hole" of the donut */
  mask-image: radial-gradient(transparent 60%, black 60%);
  -webkit-mask-image: radial-gradient(transparent 60%, black 60%);
}

.donut-wrapper {
  position: relative;
  width: 100px;
  height: 100px;
}

/* Center the icon */
.donut-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;     /* Adjust to taste */
  height: 60px;
  color: black;    /* Or any color */
  pointer-events: none; /* optional */
}

